.about-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wrapper{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrapper h1 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    color: maroon !important;
    margin-top: 2em;
    margin-bottom: 2em;
}

.text-wrapper p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Merriweather", sans-serif;
    color: black;
    margin-bottom: 2em;
    text-align: start;
}

.values-wrapper p {
    font-size: 12px;
    font-weight: normal;
    font-family: "Merriweather", sans-serif;
    color: black;
}

.values-wrapper {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.values-wrapper p {
    font-weight: 400;
    text-align: center;
    margin: 1em;
    margin-bottom: 6em;
    font-family: 'Merriweather', sans-serif;
}
.values-wrapper h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-bottom: 0.5em;
    margin-top: 3em;
}

.text-wrapper button{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: black;
    color:white;
    width: 180px;
    height: 45px;
    margin: 3em;
    margin-top: 0em;
}
.text-wrapper button #NavLinked {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.emphasis {
    margin-top: 5em;
    text-decoration: none;
    color: #ad974f !important;
}
.values-wrapper h2 {
    color: black;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

@media (max-width:950px) {
    .text-wrapper {
        width: 90%;
    }
}

@media(max-width: 430px) {
    .about-wrapper h1 {
        width: 60%;
        font-size: 28px !important;
        margin-top: 0;
        color: slateblue !important;
    }
    .margin-format, .text-center {
        width: 80%;
        margin-top: 0 !important;
    }
    .paralax-1 {
        height: 200px !important;
    }
}

.text-center {
    color: black !important;
    text-align: center !important;
    margin-top: 4em;
    width: 80%;
}

.margin-format {
    margin-bottom: 5em !important;
    width: 70%;
    margin-top: 4em;
}

.paralax-1{
    background:url(../../components/assets/tkdbackground2.jpg) no-repeat;
    background-size: cover;
    background-position: 0% -400px !important;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.paralax-2 {
    background:url(../../components/assets/tkdbackground2.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 0px!important;
    background-attachment: fixed;
    height: 300px;
    width: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    overflow: hidden !important;
}

.paralax-3 {
    background:url(../../components/assets/friends.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 50%!important;
    background-attachment: fixed;
    height: 300px;
    width: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    overflow: hidden !important;
}

@media(max-width: 768px) {

    .paralax-1, .paralax-2, .paralax-3 {
        background-position: center !important;
        background-attachment: initial;
    }


    .paralax-1 h1 {
        margin-top: 2.5em;
        color: black !important;
    }

    .margin-format {
        margin-top: 2em !important;
    }
}