.front-gallery {
    width: 100%;
    height: auto;
    background: url('../assets/badass.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

@media(max-width: 768px) {
    .front-gallery {
        background-attachment: initial !important;
    }
}